/* 공통적으로 쓰는 css */
* {
  box-sizing: border-box;
  font-family: "Karla", "Noto Sans KR", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  transition: 0.35s ease-in-out;

  /* 세로 스크롤 숨기기 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  max-width: 100%;
}
p {
  color: #262626;
}
a {
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}
button {
  border: 0;
  background: none transparent;
  cursor: pointer;
  color: inherit;
  outline: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
::-moz-selection {
  background: #262626;
  color: #fff;
}
::selection {
  background: #262626;
  color: #fff;
}
.scrollLock {
  overflow: hidden;
}

/* ------ header-con style sheet ------ */
#header {
  display: flex;
  flex-direction: column;
  /* left: 0; */
  position: fixed;
  top: 0;
  /* right: 0; */
  z-index: 210;
  width: 100vw;
}

/* aside style sheet */
aside {
  align-items: center;
  background-color: #b4ccd9;
  display: flex;
  justify-content: center;
  text-align: center;
  visibility: visible;
  z-index: 3;
}

aside p {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.7px;
  margin: 10px 0;
  text-align: center;
}

aside button {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 2.5rem;
}

aside button img {
  position: relative;
  width: 1.25rem;
}

/* header style sheet */
header {
  align-items: center;
  display: grid;
  gap: 3.75rem;
  grid-template-columns: 8rem 1fr;
  height: 8.75rem;
  justify-content: space-between;
  left: 0;
  padding: 0 2.5rem;
  width: 100%;
  z-index: 99;

  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
}
/* header img { width: 8rem; height: 4rem; } */
header #logo_img_mini {
  display: none;
}
header .main_menu {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -1px;
}
header .main_menu .main_nav {
  display: flex;
  flex-grow: 1;
}
header .main_menu .main_nav a:not(:last-child) {
  padding-right: 2.5vw;
}
header .main_menu .main_service a:not(:last-child) {
  padding-right: 2.5vw;
}

header .main_menu .main_icon {
  padding-left: 2.5vw;
  right: 0;
}
header .main_menu .main_icon button {
  font-size: 1.25rem;
}
header .main_menu .main_icon button:first-child {
  padding-right: 1.46vw;
}

header .main_menu .main_icon button {
  position: relative;
}
header .main_menu .main_icon button .header_xBtn {
  display: none;
  left: -10px;
  top: -10px;
  position: absolute;
  width: 40px;
}
header .main_menu .main_icon button .fa-bars {
  display: none;
  padding-bottom: 3px;
}
header .main_menu .main_icon button .fa-xmark {
  font-size: 1.5rem;
  padding-bottom: 3px;
}

/* header 스크롤 */
header.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #b5b5b5;
  height: 4rem;

  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);

  transition: 0.35s;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
}

/* search_bar style sheet */
#search_bar {
  background-color: #262626;
  color: #fff;
  display: flex;
  height: 5rem;
  left: 0;
  padding: 1rem 2.5rem;

  /* transition: all .15s ease-in-out; */
  /* opacity: 1; */
  /* visibility: hidden; */
}
.search_close {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.15s ease-in-out;
  visibility: hidden;
}
.search_open {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.15s ease-in-out;
  visibility: visible;
}

#search_bar input {
  background: none transparent;
  border: 0;
  color: #fff;
  flex-grow: 1;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: -1.8px;
  outline: 0;
}

/* input x버튼 삭제 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
#search_bar input::placeholder {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: -1.8px;
}
#search_bar button i {
  font-size: 2rem;
}
#search_bar button i:hover {
  color: rgb(112, 112, 112);
  transition: all 0.15s;
}

/* section Cart style sheet */
.cart_overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 998;
}
#cart {
  background-color: #f9f8f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: absolute;
  right: -500px;
  transition: all 0.25s ease-in-out;
  width: 500px;
  /* width: 26vw; */
  z-index: 999;
}

.cart_active {
  transform: translateX(-500px);
}
#cart_title {
  align-items: center;
  border-bottom: 1px solid #b5b5b5;
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  justify-content: space-between;
  padding: 3rem 2.5rem;
}
#cart_title h1 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -1px;
}
#cart_title button:hover {
  filter: brightness(90%);
  transition: all 0.25s;
}
#cart_list {
  border-bottom: 1px solid #b5b5b5;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
  padding: 2.5rem;
}
#cart_list_cnt {
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
#cart_list_cnt > p {
  text-align: right;
}
#cart_list_btn {
  align-items: center;
  border: 1px solid #434343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.625rem;
}
#cart_list_btn #increase,
#decrease {
  font-size: 0.75rem;
}

#cart_list_info {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  letter-spacing: -0.9px;
  justify-content: space-between;
}
#cart_list_info i {
  color: #666;
}

#cart_text {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1.25rem;
  gap: 3rem;
  justify-content: space-between;
}
#cart_text h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1.2px;
}
#cart_text p {
  color: #666;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: -0.6px;
}
#cart_text button i {
  font-size: 1.25rem;
  color: #aeada9;
}

#cart_buy {
  border-top: 1px solid #434343;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
#cart_buy_info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}
#cart_buy_info p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

#cart_buy_info h2,
#cart_buy_info small {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -1px;
}

#cart_buy button {
  background-color: #262626;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: -1px;
  padding: 1.25rem 0;
}
#cart_buy button:hover {
  background-color: #ede8de;
  color: #262626;
  transition: all 0.25s;
}

#mobile_menu {
  display: none;
}

/* footer style sheet */
footer {
  background-color: #fafaf8;
  border-top: 1px solid #b5b5b5;
  width: 100%;
  position: relative;
}

footer #f_row_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  justify-content: space-between;
  padding: 4rem 2.5rem;
}

/* f_row_top style sheet */
#f_row_top #newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#newsletter > h1 {
  font-size: 2.7vw;
  font-weight: 100;
  letter-spacing: -2.4px;
  line-height: 1.2;
}

#newsletter .email_wrapper {
  background-color: inherit;
  border: solid 1px #c7c7c7;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}
#newsletter .email_wrapper input {
  border: none;
  background-color: inherit;
  font-size: 1.125rem;
  letter-spacing: -0.9px;
  width: 100%;
}
#newsletter .email_wrapper input:focus {
  outline: 0;
}
#newsletter .email_wrapper i {
  font-size: 1.125rem;
  color: #c7c7c7;
}
#newsletter p {
  color: #595959;
  display: none;
  letter-spacing: -0.9px;
  padding: 0.5rem;
  position: absolute;
}

footer #footer_links {
  display: flex;
  justify-content: space-between;
}
footer #footer_links h3 {
  font-size: 1.12rem;
  font-weight: 700;
  letter-spacing: -0.9px;
  margin-bottom: 2rem;
}
footer #footer_links li:not(:last-child) {
  letter-spacing: -0.8px;
  margin-bottom: 0.8rem;
}

/* f_low_bottom style sheet */
footer #f_low_bottom {
  align-items: center;
  border-top: 1px solid #b5b5b5;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}
footer #f_small a {
  color: #8c8c8c;
  font-size: 0.625vw;
  letter-spacing: -0.6px;
}
footer #f_small a:not(:last-child) {
  padding-right: 3.3vw;
}
#f_low_bottom > span {
  font-size: 3.75vw;
  font-weight: 100;
  letter-spacing: -3.6px;
  text-align: right;
}

/* 위치 고정 버튼 */
.goDir {
  position: fixed;
  z-index: 9999;
  bottom: 30px;
  right: 30px;
  width: 35px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.dirBtn {
  width: 35px;
  height: 35px;
  background: #f8f6f5;
  border: 1px solid #dbdad9;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dirBtn:hover {
  background-color: #dbdad9;
}

@media (max-width: 1024px) {
  /* header style sheet */
  #header {
    width: 100vw;
  }

  /* aside style sheet */
  aside button {
    right: 2.5rem;
  }

  /* header-con style sheet */
  header {
    gap: 2.5vw;
    height: 7.5rem;
    padding: 0 4vw;
  }

  /* search_bar style sheet */
  #search_bar {
    padding: 1rem 4vw;
  }

  /* cart style sheet */
  #cart {
    right: -450px;
    width: 450px;
  }
  .cart_active {
    transform: translateX(-450px);
  }

  /* ------ footer style sheet ------ */
  footer #f_row_top {
    gap: 0;
    padding: 4rem 4vw;
  }

  /* f_row_top style sheet */
  #f_row_top #newsletter {
    padding-right: 7vw;
  }
  #newsletter > h1 {
    font-size: 3.7vw;
    letter-spacing: -1.8px;
  }
  #newsletter .email_wrapper {
    padding: 0 1rem;
  }

  #newsletter .email_wrapper input,
  #newsletter .email_wrapper i {
    font-size: 1rem;
  }

  footer #footer_links h3 {
    font-size: 1.8vw;
  }
  footer #footer_links li {
    font-size: 1.6vw;
  }

  /* f_low_bottom style sheet */
  footer #f_low_bottom {
    padding: 2rem 4vw;
  }
  footer #f_small a {
    color: #8c8c8c;
    font-size: 0.625vw;
    letter-spacing: -0.6px;
  }
  footer #f_small a:not(:last-child) {
    padding-right: 1.6vw;
  }
  #f_low_bottom > span {
    font-size: 5.8vw;
    letter-spacing: -3px;
  }
}

@media (max-width: 768px) {
  /* aside style sheet */
  aside button {
    right: 3vw;
  }

  /* header style sheet */
  header {
    padding: 0 3vw;
    height: 3.25rem;
    gap: 0;
  }
  header #logo_img {
    display: none !important;
  }
  header #logo_img_mini {
    display: block !important;
  }

  header .main_menu {
    flex-direction: row-reverse;
  }
  header .main_menu nav {
    display: none !important;
  }

  header .main_menu .main_icon button .fa-bars {
    display: block;
  }

  header .main_menu .main_icon button:first-child {
    padding-right: 3.65vw;
  }
  header .main_menu .main_icon button .fa-cart-shopping {
    padding-right: 3.65vw;
  }
  header .main_menu .main_icon button .header_xBtn {
    width: 30px;
    height: 30px;
    top: -5px;
    left: -5px;
  }
  header.scrolled {
    height: 3.375rem;
  }

  /* search_bar style sheet */
  #search_bar {
    height: 3.375rem;
    padding: 0 3vw;
  }
  #search_bar input {
    font-size: 1.5rem;
  }
  #search_bar button i {
    font-size: 1.5rem;
  }

  /* section Cart style sheet */
  #cart {
    width: 100%;
    right: -100%;
  }
  .cart_active {
    transform: translateX(-100vw);
  }

  #cart_title {
    padding: 4vw;
  }

  #cart_list {
    padding: 4vw;
    gap: 1rem;
  }
  #cart_list img {
    width: 100%;
  }
  #cart_list_btn {
    height: 2rem;
  }
  #cart_buy {
    padding: 4vw;
  }

  /* mobile_menu */
  #mobile_menu {
    height: 100vh;
    width: 100%;
    background-color: #fafaf8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    right: -100%;
    transition: all 0.35s ease-in-out;
    padding: 4rem 3vw 3vw 3vw;
  }

  .mobile_menu_active {
    transform: translateX(-100%);
  }
  .mobile_nav a {
    display: block;
    font-size: 2.25rem;
    letter-spacing: -2px;
    font-weight: 500;
  }
  .mobile_service a {
    display: block;
    font-size: 1.5rem;
    letter-spacing: -1.2px;
    font-weight: 500;
  }
  .mobile_nav a span,
  .mobile_service a span {
    display: inline-block;
    text-transform: uppercase;
  }

  .mobile_nav a span::after,
  .mobile_service a span::after {
    display: block;
    content: "";
    border-bottom: solid 2px #262626;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .mobile_nav a:hover span::after,
  .mobile_service a:hover span::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }

  /* footer style sheet */
  footer #f_row_top {
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 4rem 3vw 3rem;
  }
  footer #footer_links h3 {
    font-size: 1rem;
  }
  footer #footer_links li {
    font-size: 0.75rem;
  }

  #f_row_top #newsletter {
    padding-right: 0;
    order: 1;
  }
  #newsletter > h1 {
    font-size: 2.25rem;
    padding-bottom: 1rem;
  }

  footer #f_low_bottom {
    align-items: baseline;
    border-top: none;
    flex-direction: column;
    padding: 0;
  }
  #f_small {
    padding-left: 3vw;
  }
  #f_low_bottom > span {
    border-top: 1px solid #b5b5b5;
    font-size: 9vw;
    margin-top: 3rem;
    padding: 1rem 0;
    text-align: center;
    width: 100vw;
  }
}
